<html>
  <head>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <input id="name" autocomplete="off">
    <div class="timers-list" id="timers"></div>
    <input id="data" style="display:none;" data-username="<%= username %>">
    <script src="/scripts/util.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
